#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00004d;
    width: 100%;
    height: 80px;
}

#navlist {
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
    margin-right: 40px; 
}

#navlist > li {
    margin-right: 30px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding-top: 5px;
}

.nav-link:hover {
    border-top: rgb(99, 0, 0) 2px solid;
    line-height: 1.3;
}